/* native elements styling */
ul {
  list-style: none;
  padding-left: 0 !important;
}

/* classes styling */
.card-row {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  margin: 0 0 2rem 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
}

.card-item {
  display: contents;
}

.search-box {
  margin-top: 1rem !important;
}

/* responsive styling */
@media (max-width: 1000px) {
  .card-row {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 750px) {
  .card-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .card-row {
    grid-template-columns: 1fr;
  }
}
