/* native elements styling */
ul {
  list-style: none;
  padding-left: 0 !important;
}

/* classes styling */
.card-grid {
  margin: 2rem 0;
}

.card-row {
  display: grid;
  column-gap: 2rem;
  margin-top: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
}

.card-row:not(:last-child) {
  margin-bottom: 2rem;
}

.card-item {
  display: contents;
}
